.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.sidebarRow__icon {
  color: white;
  font-size: large;
}
.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}
.sidebarRow:hover {
  background-color: rgb(48, 48, 165);
  cursor: pointer;
}
.sidebarRow:hover > .sidebarRow__icon {
  color: #151b27;
}
.sidebarRow:hover > .sidebarRow__title {
  font-weight: bold;
}
.sidebarRow.selected {
  background-color: rgb(48, 48, 165);
}
.sidebarRow.selected > .sidebarRow__icon {
  color:#151b27;
}
.sidebarRow.selected > .sidebarRow__title {
  font-weight: bold;
}